.search {
    /* padding-top: 10%; */
    height: max-content;
}

.search--upper {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search__title {
    position: relative;
    display: block;
    color: white;
    text-align: left;
    cursor: pointer;
    font-size: 5em;
    margin-bottom: 20px;
    padding-left: 2rem;
    width: fit-content;
}

.search__title:after {
    content: "";
    display: block;
    background-color: red;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
    transition: 0.5s;
}

.search__title:hover:after {
    opacity: 1;
    transform: scaleX(1);
}
.search__input {
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    color: black;
}
.search__input::placeholder {
    color: grey;
}

.sub {
    font-size: 2em;
}

.search__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.search__container {
    display: flex;
    overflow-x: scroll;
    box-sizing: content-box;
}

.search__details {
    margin: 1%;
}
.search__details:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}
.search__details img {
    object-fit: contain;
    /* width: 100%; */
    max-height: 300px;
}
